html, body {
  margin: 100;
  /*  overflow: hidden;*/
  height: 95%;
  width: 80%;
  position: relative; /*Changed from absolute to relative so it move with the flow of the window*/
  font-family: "Times New Roman" , Georgia, serif
}

#title {
    position: relative;
    font-size: 24px;
    margin-top:0px;
    text-align: center;
  }
  
  img {
    /*padding: 5px;*/
    position: relative; /*Changed from absolute to relative so it move with the flow of the window*/
    top: 1%;
    width: 320px;
  }

#container {
    /*margin-top: -300px;*/
  width: 50%;
  height: 80%;
  position: relative; /*Changed from absolute to relative so it move with the flow of the window*/
  top: 70%;
  left:70%;
  transform: translate(-50%, -50%);
  pointer-events: auto;


}
.border {
  border: 1px solid black;
  padding: 1px;
 }
#container #score {
  position: relative; /*Changed from absolute to relative so it move with the flow of the window*/
  top:25% ;
  left:170%;
  width: 100%;
  font-size: 10vh;
  transition: transform 0.5s ease;
  color: #1010c6;
}
#container #game { /*moves the actual stack position of the game*/
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*
#container .game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 
#container .game-over * { /
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translatey(-50px);
  color: #10c4ec;
}
#container .game-over h2 {
  margin: 0;
  padding: 0;
  font-size: 40px;
}
#container .game-ready {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
*/ /* This is the ending game message for GAMEOVER */
#container .game-ready #start-button {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 10;
  transform: translatey(-50px);
  border: 3px solid #000000;
  padding: 10px 20px;
  background-color: transparent;
  color: #333344;
  font-size: 30px;
}
#container #instructions {
  position: relative; /*Changed from absolute to relative so it move with the flow of the window*/
  width: 100%;
  top: 350px;
  left: 100px;
  text-align: center;
}
#container #instructions.hide {
  opacity: 0 !important;
}
#container.playing #score, #container.resetting #score {
  transform: translatey(0px) scale(1);
}
#container.playing #instructions {
  opacity: 1;
}
#container.ready .game-ready #start-button {
  opacity: 1;
  transform: translatey(0);
}
#container.ended #score {
  transform: translatey(6vh) scale(1.5);
}
#container.ended .game-over * {
  opacity: 1;
  transform: translatey(0);
}
#container.ended .game-over p {
  transition-delay: 0.3s;
}