.wrapper {
  max-width: 3000px;
  margin: auto;
  padding: 20px;
  background-image:url('../media/waffles-waffle.gif');
  background-size:inherit;
  background-repeat:no-repeat;
  background-position: center;
}
.logo img{
  display: left;
  margin: auto;
  width: 300px;
  height: 300px;
}
.logo img:hover{
  background-color: #d47a0f ;
}

.top-bar {
  text-align:right;
  padding: 10px;
}

.nav-links {
  display: inline-block;
  margin-right: 10px;

}

.nav-links button {
  width:100px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  color:#D47A0F;
  text-decoration-color: #d47a0f;
  background-color:#0F69D4;
  border:none;
}
.nav-links button:hover{
  background-color: #0a304e;
}

.nav-links button i {
  font-size: 15px; /* Adjust the icon size as needed */
  margin-right: 5px;
  color:#D47A0F
}

h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #D47A0F;
  text-align: center;
}

.search {
  width: 100%;
  position:relative;
  display: flex;
}

form {
  display: flex;
  align-items: center;
}

label {
  margin-left: 600px;
  color: transparent;
}

input {
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button.searchButton {
  padding: 7px 12px;
  border: none;
  border-radius: 4px;
  background-color:#0F69D4; /* Change color as needed */
  color: white;
  cursor: pointer;
}

button.searchButton:hover {
  background-color: #0056b3; /* Change color as needed */
}

button.searchButton img {
  width: 20px; /* Adjust the size of the magnifying glass icon */
}

#hotelResults{
  margin-top: 20px;
  padding: 20px;
  border: none;
  border-radius: 4px;
  text-align: center;
  color: #D47A0F;
}

.state:focus{
  color: black
}
.button-container {
  display: flex;
  /*flex-wrap: wrap;*/
 /* justify-content: space-between; /* Distribute the buttons horizontally */
  gap: 10px; /* Adjust the gap as needed to control spacing between buttons */
  margin-bottom: 20px; /* Add spacing between groups of buttons */
  justify-content: center;
}

.button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #0F69D4;
  color: white;
  cursor: pointer;
  text-decoration: none;
  align-items: right;
}
  