form {
    color: black;
    text-align: center;
}
body {
margin: 0;
background-color: #C6E3F3;
color: black;
display: flex;
flex-direction: column; /* Stack elements vertically */
align-items: center; /* Center elements horizontally */
justify-content: center; /* Center elements vertically */
height: 100vh;
}

.content {
background-color: white;
border-radius: 20px;
padding: 20px;
text-align: center;
}
  
.login-container {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}
/* Apply styles to anchor links */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: #C6E3F3;
}
.logo {
width: 100px;
height: 100px;
margin-right: 20px;
}
a.nav-link:link, a.nav-link:visited {
    text-decoration: none; /* Remove underlines from links */
    color: #231e1e; /* Set text color to black */
    border-radius: 20px;
    margin-top: 15px;
    margin-left: -10px;
    margin-right:-10px;
    margin-bottom: 30px;
    padding: 10px;
}
a.nav-link:hover, a.nav-link:active {
    text-decoration: none; /* Remove underlines from links */
    color: #e88c01; /* Set text color to black */
}
.button-container { /* keeps buttons separated*/
display: flex;
justify-content: flex-start;
}
.button {
margin-right: 10px;
padding: 10px 20px;
border: none;
border-radius: 20px;
background-color: #0F69D4;
color: white;
cursor: pointer;
text-decoration: none;
}
strong{
    text-decoration-line: none;
    color: black;
    font-size-adjust: +20px;
}